<launch>
    <node name="gain_server" pkg = "gain_server" type="server.py" />
    <node name="simulator" pkg = "simulator" type="CSS.py" />
    <node name="observer" pkg = "observer" type="dp_observer.py" />
    <node name="guidance" pkg = "guidance" type="nominal_guidance.py" />
    <node name="controller" pkg="feedback_controler" type="feedback_controler.py" />
    <node name="thrust_allocation" pkg="thrust_allocation" type="thrust_allocation.py" />
</launch>
