<launch>
    <node name="gain_server" pkg = "gain_server" type="server.py" />
    <node name="simulator" pkg = "simulator" type="CSS.py" />
    <node name="observer" pkg = "observer" type="dp_observer.py" />
    <node name="nominal_guidance" pkg = "guidance" type="guidance_nominal.py" />
    <node name="controller" pkg="feedback_controler" type="nominal_controller.py" />
    <node name="thrust_allocation" pkg="thrust_allocation" type="thrust_allocation.py" />
</launch>
